<div class="container">
  <h1>Listado de Productos !!</h1>
  <h2> products : </h2>
  <table class="table">
    <thead>
      <tr>
        <th>Carts</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{Carts}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>